{% extends "base.html" %}

{% block content %}

<h2>Информация о запросе</h2>
<div class="form-control my-2 mb-2">
<form method="post" class="mb-4">
  <div class="mb-3">
    <label>Логин</label>
    <input type="text" name="username" class="form-control">
  </div>
  
  <div class="mb-3">
    <label>Пароль</label>
    <input type="password" name="password" class="form-control">
  </div>
  
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</div>

<h5>GET параметры</h5>
<pre>{{ request.args | tojson(indent=2)}}</pre>

<h5>Заголовки</h5>
<pre>{{ request.headers }}</pre>

<h5>Cookies</h5>
<pre>{{ request.cookies | tojson(indent=2) }}</pre>

<h5>Данные формы (если был POST)</h5>
<pre>{{ request.form | tojson(indent=2) }}</pre>

{% endblock %}